Week04 GroupActivity

In [ ]:
#1.Import the Belize_Airbnb_listings csv.Create a new dataframe that takes the original dataset and groups the data by
#neighborhood and finds the average price, number of reviews, and availability_365. In short, youâ€™re looking for the 
#average price, number of reviews, and availability per neighborhood.

In [1]:
import pandas as pd
belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)

In [32]:
belize_df.head(4)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331

In [3]:
groupby=belize_df.groupby("neighbourhood")
groupby['price','number_of_reviews','availability_365'].mean()

C:\Users\Codergirl\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                            price  number_of_reviews  availability_365
neighbourhood
Belize Islands         399.442824          17.647736        295.970837
Belize Mainland        288.273063          15.147601        261.014760
Cayo                   205.847525          14.566337        259.249505
Corozal                156.553846           7.569231        278.676923
Orange Walk            122.035714          14.821429        261.928571
Stann Creek Islands   1136.166667           5.750000        248.083333
Stann Creek Mainland   456.994690           8.470796        277.872566
Toledo Mainland        222.978723           4.127660        234.744681

In [4]:
groupby['price'].mean()

neighbourhood
Belize Islands           399.442824
Belize Mainland          288.273063
Cayo                     205.847525
Corozal                  156.553846
Orange Walk              122.035714
Stann Creek Islands     1136.166667
Stann Creek Mainland     456.994690
Toledo Mainland          222.978723
Name: price, dtype: float64

In [5]:
groupby['number_of_reviews'].mean()

neighbourhood
Belize Islands          17.647736
Belize Mainland         15.147601
Cayo                    14.566337
Corozal                  7.569231
Orange Walk             14.821429
Stann Creek Islands      5.750000
Stann Creek Mainland     8.470796
Toledo Mainland          4.127660
Name: number_of_reviews, dtype: float64

In [6]:
groupby['availability_365'].mean()

neighbourhood
Belize Islands          295.970837
Belize Mainland         261.014760
Cayo                    259.249505
Corozal                 278.676923
Orange Walk             261.928571
Stann Creek Islands     248.083333
Stann Creek Mainland    277.872566
Toledo Mainland         234.744681
Name: availability_365, dtype: float64

In [33]:
#2.Take the following list and create a new list from the square of each value.
og_list=[2, 4, 6, 8, 10, 12, 14]
square=[x*2 for x in og_list]
print("Squared list: ", square)

Squared list:  [4, 8, 12, 16, 20, 24, 28]

In [35]:
#3.Take the same list from the previous question and create a new list but where each value is 2/3
twobythree=[x*2/3 for x in og_list]
print("Twobythree_list: ", twobythree)

Twobythree_list:  [1.3333333333333333, 2.6666666666666665, 4.0, 5.333333333333333, 6.666666666666667, 8.0, 9.333333333333334]

In [10]:
#4.Write a list comprehension or function to lowercase all the keys in the below dictionary.
#The data represents how many pounds of each fruit a canning company is ordering.
#Why did you choose the mechanism you did to lowercase the keys?

dict={"Apples": 1500, "Cranberries": 2000, "Pears": 2500, "Cherries": 1600, "Plums": 2400,
"Peaches": 13600, "Oranges": 7}
{(k.lower()):v for k,v in dict.items()}

{'apples': 1500,
 'cranberries': 2000,
 'pears': 2500,
 'cherries': 1600,
 'plums': 2400,
 'peaches': 13600,
 'oranges': 7}

In [ ]:
# I chose list comprehension method instaed of function to lowercase the keys. I used for loop to iterate through the
#dictionary. since wehave to change lowercase for key, i used k.lower(), .items() method helps to print both key and value 
#pairs in dictionary.